name: run-pytest-suite
run-name: Run full testset
  
on: [push]  
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout
        uses: actions/checkout@v3

      - name: Python set up
        uses: astral.sh/uv@v1
        with: 
          python-version: '3.11'

      - name: Test  
        run: |  
          uv sync
          source .venv/bin/activate
          pprl test


