name: run-pytest-suite
run-name: Run Pytest suite
  
on: [push]  
  
jobs:  
  build:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with: 
          version: "0.9.10"

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install the current project
        run: uv sync

      - name: Test  
        run: |  
          source .venv/bin/activate
          pprl test


